 <!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Dean's Screen Scraping App</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
  <h1 class="text-center">Dean's Screen Scraping App</h1>
  <br>
  <br>

  <div class="container-fluid">
    <p class="text-left">
      This is a app created using Sinatra and the Nokiguri gem. The purpose of this app is to scrape blog post from other websites and have it listed within a table.
    </p>
    <p>Gems: Nokogiri, Open URI, Sinatra.</p>
    <p>Styling : Bootstrap</p>

    <hr>
    <table class="table table-hover">
      <thead>
        <tr class="info">
          <th>TITLE</th>
          <th>POST</th>
          <th>DATE</th>
        </tr>
      </thead>
      <tbody>
        <% @doc.css('.post-content').each do |post| %>
          <tr>
            <td><%= post.css('.title').text %></td>
            <td><%= post.css('p') %></td>
            <td><%= post.css('.date') %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>  
</body>
</html> 